* {
  padding: 0;
  margin: 0;
  list-style: none;
  Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  }

body{
  background-color: #e3ae57;
  scroll-behavior: smooth;
}
nav {
  
  display: flex;
  margin-top: 0rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color:transparent;
  font-size: 135%;
  
}
nav ul {

display: flex;

}

nav li {

text-align: center;
flex-grow: 1;

}

nav a {
display: block;
padding: 1em;
text-decoration: none;
color: rgba(0, 0, 0, 0.752);
transition: 1.0s;
}
nav a:hover{
  color: #e3ae57;
  text-shadow: 0px 0px 1px #e3ae57 ;
  font-weight: lighter;
}
.container{
  position: absolute;
  top: 44%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: #d36b09;
  
}

.container:hover .container-2 {
  transform: translateX(12%);
  transition: transform 0.3s ease;
}
.container img{
  width: 90%;
  height: 100%;
  margin: 10%;
  cursor: pointer;
}
.container:hover .container-3 {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
.women{
  position: absolute;
  top: 0px;
  display: block;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.women:hover{
  opacity: 1;
}
.container-2{
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: #000000;
  z-index: -3;
}
.container-3{
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: hsl(267, 100%, 65%);
  z-index: -3;
}
.welcome{
  display:flex ;
  margin-top: 18%;
  width: auto;
  color: #666666;
  margin-left:51.5%;
  

}
.start-button{
  display: flex;
  margin-top: 10%;
  border-radius: 100vw;
  width: 20%;
  border-color:#666666 ;
  height: 40px;
  justify-content: center;
  align-items:center ;
  background-color: transparent;
  font-size: normal;
  font-weight: 300;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  font: bold 1rem/1.2 sans-serif; 
  
}
.start-button:hover{
  background-color:rgba(48, 0, 179, 0.812);
  border: 10px;
  color: #d36b09;
  transform: translateY(-20%) rotate(0);

}
.work{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 673px;
  
}
.header{
  position: absolute;
  right: 0;
  margin-top:1rem;
  width: 590px; 
  color: #999;
}

.header h3{
  line-height: 3rem;
  color: #666666;
  font: bold 1.5rem/1.2 sans-serif;
}
.header p{
  color: #888888a3;
  letter-spacing: 0.4px;
  font: bold 1rem/1.2 sans-serif;
}
.pink{
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -3;
  height: 673px;
  width: 608.50px;
  
}
.box-container{
  display: flex;
  font: bold 1rem/1.2 sans-serif;
  

}
.box{
  height: 300px;
  width: 650px;
  background-color: rgb(234, 233, 233);
  margin-top: 30.20%;
  font-weight: lighter;
  line-height: 20px;
  
}
.box h2{
  margin-top: 50px;
  color: black; 
  font-weight:lighter;
  margin-left: 20px;
}
.box h6{
  line-height:500%;
  margin-left: 20px;
  color: #e3ad57b4;
  font-weight: lighter;
}
.box p{
  line-height: 150%;
  font-weight: lighter;
  color: #666666b3;
  margin-left: 20px;
  margin-right: 10px;
}
.box-2{
  height: 300px;
  width: 300px;
  margin-top: 30.20%;
  font-weight: lighter;
  background-color: #a44040;
}
.box-2 h2{
  color: rgba(230, 233, 236, 0.703);
  margin-left: 30px;
  margin-top: 1rem;
  font-weight: lighter;
}

.box-2 ul li{
  color: rgba(230, 233, 236, 0.703);
  margin-top: 1.5rem;
  margin-left: 2rem;
  line-height: 1.5rem;
  
}

.line{
  height: 1px;
  width: 190px;
  background-color: black;
  border-color: black;
  text-align: right;
  font-size: x-small;
}

.line-1{
  height: 1px;
  width: 100px;
  background-color: black;
  border-color:black;
  text-align: right;
  font-size: x-small;
}
.line-2{
  height: 1px;
  width: 110px;
  background-color: black;
  border-color: black;
  text-align: right;
  font-size: x-small;
}
.line-3{
  height: 1px;
  width: 180px;
  border-color: black;
  background-color: black;
  text-align: right;
  font-size: x-small;
}

.table{
  width: 300px;
  height: 300px;
  margin-top: 122.5%;
}
.m-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
}
.m-box1{
  height: auto;
  width: 350px;
  background-color: #c76300;
  text-align: center;
  color: #e1dfdf;
  font: bold 1rem/1.2 sans-serif;
  line-height: 25px;
}
.m-box2{
  height: auto;
  width: 350px;
  background-color: #a44040;
  text-align: center;
  color: #e1dfdf;
  font: bold 1rem/1.2 sans-serif;
  line-height: 25px;
    
  }
.m-box3{
  height: auto;
  width: 350px;
  background-color: #120c0c;
  text-align: center;
  color: #e1dfdf;
  font: bold 1rem/1.2 sans-serif;
  line-height: 25px;
  
}
.m-box4{
  height: auto;
  width: 350px;
  background-color: #e1dfdf;
  text-align: center;
  color: #e1dfdf;
  font: bold 1rem/1.2 sans-serif;
  line-height: 25px;
}
.my-exp{
  height: 340px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}
.my-exp-box{
  height: 300px;
  width: 50%;
  line-height: 20px;
  margin-top: 40px;
  margin-left: 40px;
  font: bold 1rem/1.2 sans-serif;
  color: #e1dfdf;
  font-weight: lighter;
}
.my-exp-box ul {
  padding-left: 20px;
  font-weight: lighter;
}
.my-exp-box p{
  font-size: smaller;
  font-weight: lighter;
}
.my-exp-box h4{
  font-weight: lighter;
}
.my-exp-box h6{
  font-weight: lighter;
}
.my-exp-box span{
  color: brown;
  font-size: x-small;
  font-weight: lighter;
}
.my-exp img{
  width: 571px;
  height: 340px;
}
.parallax-img {
  width: 100%;
  height: 340px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1491904768633-2b7e3e7fede5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
  position: relative;
}

.parallax-p{
  width: 1000px;
  height: 120px;
  background-color: #0000004f;
  text-align: center;
  margin-left: 10%;
  margin-right: 25%;
  position: absolute;
  top: 30%;
  filter: blur(1px);
}
.parallax-p:hover{
  filter: blur(0);
  font-size: large;
  color: #dddddd;
}
.parallax-p img{
  width: 30px;
  height: auto;
  margin-top: 10px;
}
.contact-me{
  width: auto;
  height: 500px;
  display: flex;
}
.contact-box{
  height: 500px;
  width: 50%;
  background-color: #ac3e4b;
}
.contact-box form {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  outline: none;
  color:#e1dfdf ;
  line-height: 50px;
}
.contact-box form p{
  font-size: small;
}
.contact-box form h2{
  margin-top: 30px;
  font-size: 200%;
}
.contact-box form input[type="text"],
.contact-box form input[type="email"],
.contact-box form textarea {
  width: 50%;
  background: transparent;
  outline: none;
  resize:none;
	overflow: hidden;
  border: none;
  border-bottom: 1px solid rgba(255, 252, 252, 0.549);
  width: 90%;
  background: transparent;
  outline: none;
  line-height: 45px;
}
.contact-box form textarea::placeholder {
  color:rgba(255, 255, 255, 0.471)
}
.send-button{
  display: flex;
  border-radius: 100vw;
  margin-top: 5%;
  margin-left: 23%;
  width: 50%;
  border:none;
  height: 40px;
  justify-content: center;
  align-items:center ;
  background-color: bisque;
  font-size: normal;
  font-weight: 300;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  font: bold 1rem/1.2 sans-serif; 
}
.send-button:hover{
  background-color:rgba(48, 0, 179, 0.812);
  border: 10px;
  color: #d36b09;
  transform: translateY(-20%) rotate(0);

}
.contact{
  width: 25%;
  height: 500px;
  background-color: #2f2f2f;
  color: #999;
}
.social h3{
text-align: center;
font-weight: 300;
margin-top: 40%;
margin-bottom: 20px;
}
.social p{
  margin-left: 10%;
  line-height: 30px;
}
.social button img{
  width: 20px;
  height: 20px;
}
.social button{
  margin-left: 8%;
  margin-top: 10%;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  
}
.social button:hover{
  background-color: blueviolet;
  transform: translateY(-20%) rotate(0);
}