@media only screen and (max-width: 280px){
    .header h3{
        font-size: x-small;
    }
    
}
@media only screen and (max-width: 550px) {
    nav{
        background-color: rgb(0, 0, 0);
        justify-content: flex-start;
    }
    nav a{
        color: rgb(255, 255, 255);
        font-size: x-small;
    }
    .welcome{
        margin-top:30px;
        margin-left: 5%;
        
    }
    .header{
        width: 95%;
    }
    .header p{
        font-size: x-small;
    }
    .pink{
        left: 0%;
        height: 350px;
        width: 100%;
    }
    .start-button{
        display: none;
    }
    .container{
        display: none;
    }
    .box{
        margin-top: 41.20%;
        width: 50%;
        height: 500px;
        line-height: 10px;
    }
  
    .table{
        display: none;
    }
    .box-2{
       margin-top: 41.20%;
       height: auto;
       
    }
    .box-2 h2{
        margin-top: 30%;
        margin-left: 2%;
    }
    .box-2 ul li{
        margin-left: 3%;
        
    }
    .line{
        width: 90%;
    }
    .line-1{
        width: 50%;
    }
    .line-2{
        width: 60%;
    }
    .line-3{
        width: 80%;
    }
    .my-exp img{
        display: none;
    }
    .my-exp{
        height: 100%;
    }
    .my-exp-box{
       margin-top: 0%;
       margin-left: 0%;
       width: 100%;
       height: auto;
    }
    .my-exp-box h2,h6,ul{
        margin-left: 2%;
        margin-top: 2%;
    }
    .m-box1{
        font-size: small;
        line-height: 20px;
    }
    .m-box2{
        font-size: small;
        line-height: 20px;
    }
    .m-box3{
        font-size: small;
        line-height: 20px;
    }
    .m-box4{
        font-size: small;
        line-height: 20px;
    }
    
    .my-exp-box span{
        color: bisque;
    }
    div .parallax-p{
        margin-left: 2%;
        width: 95%;
        
    }
  
    .contact-me img{
        display: none;
    }
   
    .contact-box{
        width: 100%;
        
    }
    .contact-box form p{
        line-height: 20px;
    }
    .contact-box button{
        margin-bottom: 20px;
    }
    .contact{
        margin-top: 0px;
        width: 100%;
              
    }
    .social{
        height:300px;
      
    }
    .social h3{
        margin-top: 10%;
    }
    .social img{
        display: flex;
        margin-left: 10px;
    }
}


@media only screen and (max-width: 600px) {
        
    .box{
        margin-top: 37.20%;
        width: 100%;
    }
    .box-2{
        margin-top: 37.20%;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    nav{
        background-color: rgb(0, 0, 0);
        height: 60px;
        font-size: 100%;
        justify-content: flex-start;
    }
    nav a{
        color: rgb(255, 255, 255);
    }
    .welcome{
        margin-top:30px;
        margin-left: 5%;
    }
    .header{

        width: 95%;
    }
    .pink{
        left: 0%;
        height: 350px;
        width: 100%;
    }
    .container{
        display: none;
    }
    .table{
        display: none;
    }
    .box {
        margin-top: 40%;
        width: 100%;
        font-size: x-small;
    }
    .box-2 {
        margin-top: 40%;
        width: 100%;
    }
    .image-cont{
        display: none;
    }
    .contact-box {
        height: 600px;
        width: 50%;}
    .contact {
            width: 50%;
            height: 600px;}
    .my-exp img{
        display: none;
    }
    .my-exp-box {
        height: 300px;
        
        width: 100%;
        height: auto;
        margin-right:50%;
        width: auto;
        margin-top: 40px;}
    .parallax-img {
        height: 300px;
        margin-top: 60px;}
    .parallax-p {
        width: 500px;
        height: 140px;}
}


@media only screen and (max-width: 992px) {
nav a {
    font-size: large;
}  
.container{
    top: 25%;
    left: 20%;
  }
  .pink{
    width: 100%;
  }
  div .parallax-p{
    width: 90%;
    margin-left: 4%;
  }
  .container-2{
    width: 200px;
    height: 300px;
  }
  .container-3{
    height: 300px;
    width: 200px;
  }
  .start-button{
    margin-left: 50%;
  }
  .box{
    margin-top: 45%;
  }
  .box-2{
    margin-top: 45%;
  }
  .header h3{
    font-size: small;
    margin-left: 35% ;
  }
  .header p{
    font-size: small;
    margin-left: 35% ;
  }
  .contact-box form p{
    line-height: 20px;
  }
}


